@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Khmer:wght@800&family=Roboto:wght@900&display=swap');


.text-header,
h2,
span {
  font-family: 'Noto Sans Khmer', sans-serif;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.5s;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
  transform: scaleX(80%);
  filter: blur(1rem);
}


#reading_progress {
  height: 2px;
  transition: all linear .2s;
  background: linear-gradient(90deg, #ff0000 10%, rgb(0, 255, 38) 90%);

}

::-webkit-scrollbar {
  width: 0px;
}